<p>Using pipes to turn interpolated title to uppercase {{ title | uppercase}}</p>
<p>Using pipes to turn interpolated title to lowercase {{ title | lowercase}}</p>
<p>{{ today }}</p>
<p>{{ today | date:'d/M/y'}}</p>
<p>{{ today | date:'d-MMM-y'}}</p>
<p>{{ emp | json}}</p>
<p>{{ names | slice:1:4}}</p>
<p>Percentage formatting {{ 0.56 | percent}}</p>
<p>Currency formatting {{ 123.567 | currency:'USD'}}</p>
<p>Currency formatting {{ 123.567 | currency:'INR'}}</p>
<p>Number formatting {{ 2323.567234234234 | number:'3.3-3'}}</p>
