<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:p="http://www.springframework/schema/p"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.3.xsd">


	<!-- Pizza pizza = new Pizza(); -->
	<bean class="springdemo.Pizza" id="pizza1">
		<property name="name" value="BLT"></property>
		<property name="category" value="Meat"></property>
		<property name="crust" value="Double cheese"></property>
		<property name="cost" value="250"></property>
	</bean>
	
	<bean class="springdemo.Pizza" id="pizza2">
		<property name="name" value="Spinach"></property>
		<property name="category" value="Veg"></property>
		<property name="crust" value="Quad cheese"></property>
		<property name="cost" value="220"></property>
	</bean>
	
	<bean class="springdemo.Pizza" id="pizza3" p:name="Veg Mexicana" p:category="Veg" p:crust="Cheese" p:cost="250"></bean>
	
	<bean class="springdemo.Drink" id="drink1">
		<property name="name" value="Pepsi"></property>
		<property name="category" value="Beverage"></property>
		<property name="cost" value="200"></property>
	</bean>
	
	<bean class="springdemo.Meal" id="meal1">
		<property name="pizza" ref="pizza1"></property>
		<property name="drink" ref="drink1"></property>		
	</bean>
</beans>