<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:web="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <servlet>


    <description></description>
    <display-name>ValidateFlight</display-name>
    <servlet-name>ValidateFlight</servlet-name>
    <servlet-class>com.controllers.ValidateFlight</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ValidateFlight</servlet-name>
    <url-pattern>/validateflight</url-pattern>
  </servlet-mapping>


	<servlet>
    <description></description>
    <display-name>ValidatePassenger</display-name>
    <servlet-name>ValidatePassenger</servlet-name>
    <servlet-class>com.controllers.ValidatePassenger</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ValidatePassenger</servlet-name>
    <url-pattern>/validatepassenger</url-pattern>
  </servlet-mapping>

	<servlet>
    <description></description>
    <display-name>FlightServlet</display-name>
    <servlet-name>FlightServlet</servlet-name>
    <servlet-class>com.controllers.FlightServlet</servlet-class>
  	</servlet>
  	<servlet-mapping>
    <servlet-name>FlightServlet</servlet-name>
    <url-pattern>/flightservlet</url-pattern>
 	 </servlet-mapping>

  <servlet>
    <description></description>
    <display-name>FlightList</display-name>
    <servlet-name>FlightList</servlet-name>
    <servlet-class>com.controllers.FlightList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FlightList</servlet-name>
    <url-pattern>/flightlist</url-pattern>
  </servlet-mapping>

	<servlet>
    <description></description>
    <display-name>Confirmation</display-name>
    <servlet-name>Confirmation</servlet-name>
    <servlet-class>com.controllers.Confirmation</servlet-class>
  	</servlet>
  	<servlet-mapping>
    <servlet-name>Confirmation</servlet-name>
    <url-pattern>/confirmation</url-pattern>
  	</servlet-mapping>
  
	<servlet>
    <description></description>
    <display-name>AdminServlet</display-name>
    <servlet-name>AdminServlet</servlet-name>
    <servlet-class>com.controllers.AdminServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminServlet</servlet-name>
    <url-pattern>/adminservlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>PasswordChange</display-name>
    <servlet-name>PasswordChange</servlet-name>
    <servlet-class>com.controllers.PasswordChange</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PasswordChange</servlet-name>
    <url-pattern>/passwordchange</url-pattern>
  </servlet-mapping>
</web-app>