<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  
  <context-param>
  	<param-name>authtoken</param-name>
  	<param-value>12312389dmdkfsmdq#</param-value>
  </context-param>
  <filter>
  	<filter-name>LoginFilter</filter-name>
  	<display-name>LoginFilter</display-name>
  	<description></description>
  	<filter-class>com.simplilearn.filters.LoginFilter</filter-class>
  </filter>
  <filter-mapping>
  	<filter-name>LoginFilter</filter-name>
  	<servlet-name>AccountProfileServlet</servlet-name>
  </filter-mapping>
  
  <servlet>
  	<servlet-name>TestServlet</servlet-name>
  	<display-name>TestServlet</display-name>
  	<description>This is testing javax.servlet.Servlet interface</description>
  	<servlet-class>com.simplilearn.web.TestServlet</servlet-class>
  	<init-param>
  		<param-name>email</param-name>
  		<param-value>hector@bestcompany.com</param-value>
  	</init-param>
  </servlet>
  <servlet>
  	<servlet-name>TestGenericServlet</servlet-name>
  	<display-name>TestGenericServlet</display-name>
  	<description></description>
  	<servlet-class>com.simplilearn.web.TestGenericServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>TestHttpServlet</servlet-name>
  	<display-name>TestHttpServlet</display-name>
  	<description></description>
  	<servlet-class>com.simplilearn.web.TestHttpServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AccountProfileServlet</servlet-name>
  	<display-name>AccountProfileServlet</display-name>
  	<description></description>
  	<servlet-class>com.simplilearn.filters.AccountProfileServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DashboardServlet</servlet-name>
  	<display-name>DashboardServlet</display-name>
  	<description></description>
  	<servlet-class>com.simplilearn.filters.DashboardServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>InfoServlet</servlet-name>
  	<display-name>InfoServlet</display-name>
  	<description></description>
  	<servlet-class>com.simplilearn.filters.InfoServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>TestCookies</servlet-name>
  	<display-name>TestCookies</display-name>
  	<description></description>
  	<servlet-class>com.simplilearn.cookies.TestCookies</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>CheckCookie</servlet-name>
  	<display-name>CheckCookie</display-name>
  	<description></description>
  	<servlet-class>com.simplilearn.cookies.CheckCookie</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LoginServlet</servlet-name>
  	<display-name>LoginServlet</display-name>
  	<description></description>
  	<servlet-class>com.simplilearn.urlrewrite.LoginServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DashboardServlet2</servlet-name>
  	<display-name>DashboardServlet2</display-name>
  	<description></description>
  	<servlet-class>com.simplilearn.urlrewrite.DashboardServlet2</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>TestSession</servlet-name>
  	<display-name>TestSession</display-name>
  	<description></description>
  	<servlet-class>com.simplilearn.session.TestSession</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LogOffServlet</servlet-name>
  	<display-name>LogOffServlet</display-name>
  	<description></description>
  	<servlet-class>com.simplilearn.session.LogOffServlet</servlet-class>
  </servlet>

  <servlet-mapping>
  	<servlet-name>TestServlet</servlet-name>
  	<url-pattern>/first</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>TestGenericServlet</servlet-name>
  	<url-pattern>/generic</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>TestHttpServlet</servlet-name>
  	<url-pattern>/http</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AccountProfileServlet</servlet-name>
  	<url-pattern>/accountprofile</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DashboardServlet</servlet-name>
  	<url-pattern>/dashboard</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>InfoServlet</servlet-name>
  	<url-pattern>/info</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>TestCookies</servlet-name>
  	<url-pattern>/cookies</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>CheckCookie</servlet-name>
  	<url-pattern>/checkcookie</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LoginServlet</servlet-name>
  	<url-pattern>/login2</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DashboardServlet2</servlet-name>
  	<url-pattern>/dashboard2</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>TestSession</servlet-name>
  	<url-pattern>/testsession</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LogOffServlet</servlet-name>
  	<url-pattern>/logoff</url-pattern>
  </servlet-mapping>
  
  <session-config>
  <session-timeout>4</session-timeout>
  </session-config>
  
  <welcome-file-list><welcome-file>login.html</welcome-file></welcome-file-list>
</web-app>
